body{
    width: 1260px;
    height: 100%;
    margin:45px 0 0 0;
}
main{
    background-color: black;
    /*overflow:hidden;Para que la caja se ajuste al contenido*/
    display: flow-root;
}

#cajaIzq{
    width: 60%;
    height: 375px;
    background-color: red;
    float: left;
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
}
#cajaIzq form{
    padding-left: 70px;
}
#cajaIzq input[type="text"]{
    width: 490px;
    height: 2em;
    padding-left: 10px;
    display: block;
}
#cajaIzq input[type="submit"]{
    width: 150px;
    margin-top: 10px;
    height: 2em;
}
#cajaDer{
    width: 29%;
    height: 350px;
    padding-left: 3%;
    padding-top: 5%;
    float: left;
    margin-right: 2%;
    background-color: blueviolet;
}
footer{
    width: 99.7%;
    height: 96px;
    border: 2px solid black;
    clear: both;
    background-color: blue;
}